<dl>
  <dt>
    <label for="<%= "record_#{column.name}_#{record.id}" %>">Final Status</label>
  </dt>
  <dd>
    <%= select(:record, :final_status, record.final_status_select_options, { :include_blank => as_(:_select_) }, :id => "record_final_status_#{record.id}") %>
  </dd>
</dl>
