<% unless user_signed_in? %>
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">&#215;</button>
	  <%= link_to("Login", signin_path) %> with your NetID to get started.
	</div>
<% else %>
	<div class="alert alert-info">
	  <button type="button" class="close" data-dismiss="alert">&#215;</button>
	  Navigate the application using the menu bar above. Be sure to <%= link_to 'logout', signout_path %> and close your browser when complete.
	</div>
<% end %>

<h3>Welcome to the TAMUG grade review portal.</h3>

<p>This computer system and data herein are available only for authorized purposes by authorized users. Use for any other purpose may result in administrative/disciplinary actions or criminal prosecution against the user. Usage may be subject to security testing and monitoring. Applicable privacy laws establish the expectations of privacy.</p>

<p>For additional information please see: <%= link_to "IS Policies", "http://www.tamug.edu/computing/About%20Information%20Services/IS_Policies.html"%></p>

<p>For security reasons, quit your web browser when you are finished accessing this application. Please contact the Help Desk at <strong>(409) 740-4714</strong> if you have any problems with this system.</p>
