<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">&#215;</button>
  Review each student's address. Click the <span class="label label-info">Edit</span> link to change an address if required. Use 
	the <span class="label label-info">Search</span> function to find an individual student if needed.
</div>

<div class="well">
<%= render :super %>
</div>
